#dwv { font-family: Arial, Helvetica, sans-serif; }

.button-row {
  text-align: center;
  justify-content: space-around;
  margin: 0.2em;
}
.mat-raised-button {
    margin: 0.1em;
 }
.legend {
  text-align: center;
  font-size: 8pt;
}

/* Layers */
.layerContainer {
    position: relative; padding: 0;
    margin: auto; text-align: center; }
.imageLayer {
    position: absolute;
    left: 0px; }
.drawDiv {
    position: absolute; pointer-events: none; }

/* drag&drop */
.dropBox {
    border: 5px dashed #ccc;
    margin: auto; text-align: center }
.dropBox.hover { border: 5px dashed #cc0; }
