.instanceslider {
  width: 25%;
  margin: 10px;
}

.instancelabel {
  margin-left: 15px;
}

.searchfield {
  padding-right: 20px;
  width: 50%;
}

.searchinput {
  width: 80%;
}

.tagstable {
  width: 100%;
}