@use './assets/theme';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* dwv-angular overrides */
.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  flex-wrap: wrap;

  button {
    padding: 0;
    margin: 2px;
    border-radius: 4px !important;
  }
}
/* remove angular icon offset to the left */
.mat-icon {
  margin: 0 !important;
}
/* make buttons smaller */
.mdc-button {
  min-width: 20px !important;
}

/* themed drop box */
.dropBoxBorder {
  border: 5px dashed var(--mat-sys-outline);
}
.dropBoxBorder:hover {
  border: 5px dashed var(--mat-sys-primary);
}

.toolbar-item {
  margin: 10px 3px;
  height: 40px;

  display: flex;
  align-items: center;
  gap: 0;
}
.toolbar-item button {
  height: 100%;
  border-radius: 4px;
  padding: 10px;
}
