@use '@angular/material' as mat;
@import './assets/theme';
$primary: map-get($dark-theme, primary);
$accent: map-get($dark-theme, accent);

html, body {
  height: 100%;
}

body { margin: 0 }

a {
  color: mat.m2-get-color-from-palette($accent);
}
a:hover {
  color: mat.m2-get-color-from-palette($primary);
}

/* dwv-angular overrides */
.button-row {
  text-align: center;
  padding: 5px;
}
.mat-button-toggle-group {
  align-items: center;
  margin: 0.2em;
}
.mat-button-toggle-checked {
  color: mat.m2-get-color-from-palette($primary);
}
.dropBoxBorder {
  border: 5px dashed mat.m2-get-color-from-palette($primary, lighter);
}
.dropBoxBorder:hover {
  border: 5px dashed mat.m2-get-color-from-palette($primary);
}
