@use './assets/theme';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* dwv-angular overrides */
.button-row {
  text-align: center;
  padding: 5px;
}
.mat-button-toggle-group {
  margin: 0.2em;
}

/* themed drop box */
.dropBoxBorder {
  border: 5px dashed var(--mat-sys-outline);
}
.dropBoxBorder:hover {
  border: 5px dashed var(--mat-sys-primary);
}
