<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div id="dwv">
    <div class="button-row">
      <button mat-raised-button color="primary" value="WindowLevel" (click)="onClick($event)">WindowLevel</button>
      <button mat-raised-button color="primary" value="ZoomAndPan" (click)="onClick($event)">ZoomAndPan</button>
    </div>
    <div class="layerContainer">
      <div class="dropBox"></div>
      <canvas class="imageLayer">Only for HTML5 compatible browsers...</canvas>
    </div>
  </div>
  <div class="legend">{{ legend }}</div>
</div>
